extends layout

block content
  h1= title
  p Welcome to #{title}




  label image upload 
  form(method="post", enctype="multipart/form-data", action="/upload")
    input(type="file", name="thumbnail")
    input(type="submit")
